---
import Person from "./icons/Person.astro";
---

<div class="max-w-2xl">
  <div class="flex items-center gap-4 mb-5">
    <Person class="size-8" />
    <h4 class="text-3xl font-bold dark:text-white">Sobre mi</h4>
  </div>
  <div
    class="[&>p]:mb-4 [&>strong]:text-sunglow dark:[&>p>strong]:text-sunglow"
  >
    <p>
      Me llamo Santiago Martínez, un
      <strong>apasionado de la programación</strong>. Mi viaje en este mundo
      comenzó por mi cuenta, con una fuerte determinación por aprender y crear.
    </p>
    <p>
      Estoy <strong>emocionado por seguir creciendo profesionalmente</strong> y colaborar
      en proyectos innovadores. Siempre
      <strong>abierto a nuevas oportunidades y aprendizajes</strong>, estoy
      listo para contribuir y ser parte de equipos que compartan mi pasión por
      la programación y la tecnología.
    </p>
  </div>
</div>
