---
import Person from "./icons/Person.astro";
---

<div class="max-w-2xl">
  <div class="flex items-center gap-4 mb-5">
    <Person class="size-8" />
    <h4 class="text-3xl font-bold text-gray-800 dark:text-white">Sobre mi</h4>
  </div>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-lightSunglow dark:[&>p>strong]:text-sunglow text-gray-800 dark:text-gray-300"
  >
    <p>
      Me llamo Santiago Martínez, empecé a programar en mi tiempo de ocio y
      actualmente estoy trabajando como <strong>desarrollor Front-end</strong> en
      una multinacional.
    </p>
    <p>
      En mis ratos libres sigo creado proyectos y me mantengo al día de las
      novedades que van saliendo.
    </p>
    <p>
      Me gusta conocer personas que comparten mi misma pasión por la
      programación y la tecnología para poder aprender mutuamente.
    </p>
  </div>
</div>
