---
import ExperienceItem from "./ExperienceItem.astro";
import EXPERIENCES from "./constants/experiencies";

import Briefcase from "./icons/Briefcase.astro";
---

<div class="max-w-2xl">
  <div class="flex items-center gap-4 mb-5">
    <Briefcase class="size-8" />
    <h4 class="text-3xl font-bold text-gray-800 dark:text-white">
      Experiencia laboral
    </h4>
  </div>

  <ol class="relative border-s border-gray-200 dark:border-gray-700">
    {EXPERIENCES.map((experience) => <ExperienceItem {...experience} />)}
  </ol>
</div>
