---
import ArrowUp from "./icons/ArrowUp.astro";
---

<button
  onclick="topFunction()"
  id="scroll-top"
  class="flex justify-center items-center fixed bottom-10 right-5 z-50 text-gray-800 dark:text-gray-300 bg-lightSunglow rounded-full size-10"
>
  <ArrowUp />
</button>

<script is:inline>
  const scrollTopBtn = document.getElementById("scroll-top");

  function topFunction() {
    window.scrollTo({ top: 0, behavior: "smooth" });
  }

  function scrollFunction() {
    scrollTopBtn.style.display = window.scrollY > 500 ? "flex" : "none";
  }

  window.addEventListener("load", function () {
    window.addEventListener("scroll", scrollFunction);
    scrollFunction();
  });
</script>
